body {
    background: linear-gradient(135deg, #00a6ac52, #a735949c);
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;

}

.container-form {
    max-width: 500px;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    padding: 25px 30px;
    margin-top: 5%;
    
}

.container-answer {
    max-width: 500px;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    padding: 25px 30px;
    margin-top: 5%;
}

h1 {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
}

h2 {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: left;
}

h3 {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: left;
    font-weight: 300;
}


.input-group {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1rem;
    padding: 0.6rem;
    color: rgb(58, 57, 57);
}

.label {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1rem;
    padding: 0.6rem;
    color: rgb(58, 57, 57);
}

input {
    width: 80%;
    padding: 0.6rem;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 25px;
}

input:focus{
    font-size: 1rem;
    outline: 0;
    border: 1px solid rgb(150, 176, 199);
}

input[type=radio] {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1rem;
    border: 0px;
    width: 100%;
    height: 1.1rem;
}

.input-select{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1rem;
    outline: none;
    margin-top: 8px;
    padding: 0 15px;
}

button {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1rem;
    align-items: center;
    border: 0 none;
    border-radius: 25px;
    color: #fff;
    background-color: rgb(36, 199, 172);
    cursor: pointer;
    margin-bottom: 0;
    padding: 15px 20px;
}

button:hover {
    background-color: rgba(46, 143, 127, 0.808);
}

.mensagem,
#resultado {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}

.error {
    border-color: #f00;
}